:root{
    --branco: #FFFFFF;
    --cinza: #C0C0C0;
    --botao: #167BF7;
    --background: #00030C; 
    --fonte-principal: 'Inter';
}

body{
    background-color: var(--background);
    color: var(--branco);
    font-family: var(--fonte-principal);
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.containerbotao{
    background-color: var(--botao);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
}

.botaosecundario{
    background-color: transparent;
    border: 2px solid var(--branco);
}